/*mobile in landscape, can't get it specifically to mobile*/
/*
@media (orientation: landscape) {
  .loader {
    height: 110vh;
  }

  header {
    display: none;
  }

  h1 {
    font-size: 20px;
  }

  .flex-child {
    font-size: 14px;
  }

  .container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr) repeat(4, 0.3fr);
    gap: 1%;
    margin: 95px 5% 5% 5%;
  }

  .item-text {
    margin-top: 60px;
    height: 110%;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }

  .img-body-a {
    display: none;
  }

  .img-x {
    grid-row: span 1;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
  }

  .text-news {
    justify-content: flex-start;
    align-items: flex-end;
  }

  .text-wide {
    grid-column: span 2;
    justify-content: flex-end;
    height: 250px;
  }

  footer h2 {
    font-size: 20px;
  }

  .flexchild-two {
    font-size: 14px;
  }


}
  */